{% extends "corporate/base.html" %}
{% load staticfiles %}
{% block title %}CreditEngine - 全ての中小事業者に最適な融資を{% endblock %}
{% block css %}
<link rel="stylesheet" href="{% static 'corporate/css/main.css' %}">
{% endblock %}
{% block content %}
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <div class="row title">
      <div class="col-md-5 fadeIn1">
        <h2>CreditEngine</h2>
        <p class="lead">全ての中小事業者に最適な融資を</p>
        <p class="note">CreditEngineは様々な外部サービスと連携して融資審査をリアルタイムに行い、すぐに借入が可能な資金枠を提供します。</p>
        <a class="btn btn-primary btn-lg btn-apply" href="http://ce-sample-app.herokuapp.com/signup" role="button">無料登録</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}

