{% extends "meatball/base.html" %}
{% load staticfiles %}
{% block title %}visited{% endblock %}
{% block css %}
<link rel="stylesheet" href="{% static 'main/css/main.css' %}">
{% endblock %}
{% block content %}

<div class="container">
  <table class="table table-sm">
    <thead class="thead-default">
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Scene1</th>
        <th>Scene2</th>
        <th>Station</th>
        <th>Score</th>
        <th>Memo</th>
        <th>Visited times</th>
        <th>Last visit date</th>
        <th>Registration date</th>
      </tr>
    </thead>
    <tbody>
      {% for restaurant in restaurants %}
      {% if restaurant.is_active == True and restaurant.restaurant_type == "visited" %}
      <tr>
        <th scope="row">{{ forloop.counter }}</th>
        {% if restaurant.url %}
          <td><a href="{{ restaurant.url }}">{{ restaurant.name }}</a></td>
        {% else %}
          <td>{{ restaurant.name }}</td>
        {% endif %}

        {% if restaurant.scene1 %}
          <td>{{ restaurant.scene1 }}</a></td>
        {% else %}
          <td>-</td>
        {% endif %}

        {% if restaurant.scene2 %}
          <td>{{ restaurant.scene2 }}</a></td>
        {% else %}
          <td>-</td>
        {% endif %}

        {% if restaurant.station %}
          <td>{{ restaurant.station }}</a></td>
        {% else %}
          <td>-</td>
        {% endif %}

        {% if restaurant.score %}
          <td>{{ restaurant.score }}</a></td>
        {% else %}
          <td>-</td>
        {% endif %}

        {% if restaurant.memo %}
          <td>{{ restaurant.memo }}</a></td>
        {% else %}
          <td>-</td>
        {% endif %}

        {% if restaurant.visited_times %}
          <td>{{ restaurant.visited_times }}</a></td>
        {% else %}
          <td>-</td>
        {% endif %}

        {% if restaurant.last_visited_times %}
          <td>{{ restaurant.last_visited_times }}</a></td>
        {% else %}
          <td>-</td>
        {% endif %}

        {% if restaurant.registration_date %}
          <td>{{ restaurant.registration_date }}</a></td>
        {% else %}
          <td>-</td>
        {% endif %}

      </tr>
      {% endif %}
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}

